.container {
  .line {
    height: 1px;
    background-color: #ddd;
  }
  .tab {
    width: 170px;
    border-radius: 14px;
    overflow: hidden;
    background: rgba(242, 242, 242, 1);
    line-height: 30px;
    font-size: 14px;
    color: rgba(51, 51, 51, 1);
    text-align: center;
    margin-left: 43px;
    margin-top: 60px;
    margin-bottom: 40px;
    div {
      float: left;
      width: 50%;
    }
    .active {
      background: rgba(255, 59, 48, 0.1);
      font-weight: bold;
      color: rgba(255, 59, 48, 1);
    }
  }
  .input {
    width: 287px;
    margin: 0 auto;
    .item {
      height: 50px;
      border-bottom: 1px solid #ddd;
      position: relative;
      .mid {
        left: 45px;
      }
      .shu {
        left: 33px;
        width: 1px;
        height: 14px;
        background: rgba(222, 222, 222, 1);
      }
      img {
        width: 18px;
        left: 2px;
      }
      span {
        right: 12px;
        border: 1px solid rgba(221, 221, 221, 1);
        border-radius: 15px;
        line-height: 29px;
        padding: 0 9px;
        font-size: 12px;
        color: rgba(16, 16, 16, 1);
      }
      .active {
        background-color: #ddd;
      }
    }
  }
  .btn {
    width: 305px;
    line-height: 44px;
    background: rgba(231, 203, 155, 1);
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: rgba(61, 40, 0, 1);
    margin: 0 auto;
    margin-top: 100px;
    
  }
  .btm{
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    width: 215px;
    margin: 0 auto;
    margin-top: 226px;
    position: relative;
    .upDown{
        left: -25px;
    }
    span{
        color: #FF3B30;
    }
  }
  
}
