.container {
  .banner {
    img {
      display: block;
      width: 100%;
    }
  }
  .item {
    border-bottom: 1px solid #ddd;
    position: relative;
    img {
      width: 9px;
      right: 13px;
    }
    span {
      right: 13px;
      font-size: 10px;
      color: rgba(255, 59, 48, 1);
    }
  }
  .info {
    width: 346px;
    height: 255px;
    box-sizing: border-box;
    padding: 13px;
    background-color: #fff;
    border-radius: 5px;

    .title {
      font-size: 16px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: rgba(12, 12, 12, 1);
      text-align: center;
      position: relative;
      margin-bottom: 22px;

      img {
        position: absolute;
        top: 0;
        
        height: 12px;
        top: 2px;
      }
    }
    .sub {
      width: 319px;
      height: 34px;
      line-height: 34px;
      border-radius: 5px;
      margin-top: 18px;
    }
    .ads {
      line-height: 42px;
      border-bottom: 1px solid #d2d2d2;
      position: relative;
      .area {
        font-size: 14px;
        font-weight: 400;
        padding-left: 16px;
        top: 12px;
        color: #666666;
      }
      img {
        width: 9px;
        right: 16px;
      }
    }
  }
  .rank{
    width: 330px;
  }
}
