.container {
  .data {
    line-height: 35px;
    background: rgba(255, 59, 48, 0.1);
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 59, 48, 1);
    padding-left: 15px;
    padding-right: 15px;
    img {
      width: 12px;
    }
    div {
      float: right;
    }
    .in {
      margin-right: 20px;
    }
  }
  .list {
    .item {
      position: relative;
      .right {
        font-size: 13px;
        font-weight: bold;
        color: rgba(102, 102, 102, 1);
        right: 18px;
      }
      padding: 15px;
      border-bottom: 1px solid #ddd;
      .num {
        font-size: 14px;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
      }
      .time {
        font-size: 11px;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        margin-top: 5px;
      }
    }
  }
}
