.container {
  .item {
    border-bottom: 1px solid #ddd;
    &:first-of-type {
      border-top: 1px solid #ddd;
    }
    line-height: 50px;
    font-size: 13px;
    position: relative;
    span {
      width: 55px;
      line-height: 27px;
      text-align: center;
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(184, 116, 26, 1);
      border-radius: 13px;
      right: 15px;
      color: #b8741a;
    }
    .label{
      padding-left: 17px;
      font-size: 14px;
      position: relative;
      
      .switch{
        line-height: 12px;
        right: 15px;
      }
    }
  }
  .sub {
    width: 290px;
    line-height: 44px;
    background: rgba(231, 203, 155, 1);
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: rgba(61, 40, 0, 1);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
  }
}
