.container {
  .top {
    width: 62px;
    display: block;
    margin: 0 auto;
    margin-top: 68px;
  }
  .num {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    margin-top: 38px;
  }
  .tip {
    font-size: 12px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin-top: 13px;
  }
  .recharge {
    width: 150px;
    line-height: 44px;
    background: rgba(243, 152, 31, 1);
    border-radius: 3px;
    text-align: center;
    margin: 0 auto;
    margin-top: 47px;
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
  }
  .xian {
    width: 150px;
    line-height: 44px;
    background: rgba(255, 231, 198, 1);
    border-radius: 3px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    color: rgba(184, 116, 26, 1);
  }
}
