.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  .nav {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    padding-left: 40px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    img {
      width: 9px;
      left: 15px;
    }
    span {
      float: right;
      color: #ff3b30;
      padding-right: 18px;
    }
    .active{
      color: #000;
    }
  }
  .owner {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    line-height: 50px;
    padding-left: 71px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    .two {
      width: 20px;
      left: 44px;
    }
    .three {
      right: 17px;
      width: 9px;
    }
    .one {
      left: 15px;
    }
  }
  .item {
    padding: 15px 0;
    padding-left: 114px;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    &:last-of-type {
      border: none;
    }
    img {
      width: 55px;
      height: 55px;
      left: 47px;
      border-radius: 3px;
    }
    .one {
      left: 15px;
    }
    .size {
      font-size: 11px;
      color: rgba(102, 102, 102, 1);
      margin: 5px 0;
    }
    .money {
      font-size: 13px;
      font-weight: 600;
      color: rgba(255, 59, 48, 1);
    }
    .right {
      position: absolute;
      bottom: 15px;
      right: 15px;
    }
  }
  .bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    line-height: 48px;
    background-color: #fff;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    padding-left: 39px;
    color: rgba(0, 0, 0, 1);
    .one {
      left: 15px;
    }
    .right1 {
      float: right;
      width: 94px;
      height: 48px;
      background: rgba(17, 17, 19, 1);
      text-align: center;
      color: #fad6a6;
    }
    .right2 {
      float: right;
      width: 94px;
      height: 48px;
      background: #ddd;
      text-align: center;
      color: #333;
    }
    .right2A{
      background-color: #FF3B30;
      color: #FAD6A6;
    }
    .mid {
      right: 124px;
      .total {
        font-size: 14px;
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
        line-height: 14px;
        span{
          color: #FF3B30;
        }
      }
      .tip {
        font-size: 11px;
        font-weight: bold;
        color: rgba(102, 102, 102, 1);
        line-height: 12px;
        margin-top: 3px;
        text-align: right;
      }
    }
  }
}
