.container {
  .nav {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    padding-left: 40px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    img{
        width: 9px;
        left: 15px;
    }
    span{
        float: right;
        color: #FF3B30;
        padding-right: 18px;
    }
  }
}
