.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  .nav {
  }
  .data {
    background-color: #fff;
    overflow: hidden;
    padding-left: 30px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    .item {
      float: left;
      width: 154px;
      height: 76px;
      background: rgba(255, 221, 175, 0.7);
      border-radius: 5px;
      margin-right: 10px;
      margin-bottom: 10px;
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      padding-top: 20px;
      color: rgba(184, 116, 26, 1);
      .num {
        font-size: 17px;
        font-weight: bold;
        color: rgba(108, 69, 17, 1);
      }
    }
  }
  .tab {
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    padding-top: 25px;
    overflow: hidden;
    & > div {
      float: left;
      text-align: center;
      position: relative;
      overflow: hidden;
      margin-left: 30px;
      img {
        width: 11px;
        margin-top: 7px;
      }
    }
    .active {
      color: #b8741a;
    }
  }
  .tabContent {
    background-color: #f3f3f3;
    padding-top: 12px;
    .list {
      border-radius: 5px;
      background: rgba(255, 255, 255, 1);
      margin: 0 auto;
      width: 345px;
      box-shadow:0px 1px 13px 0px rgba(0, 0, 0, 0.1);
      .item {
        &:last-of-type{
          border:none
        }
        height: 100px;
        position: relative;
        padding-left: 91px;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
        // margin-bottom: 10px;
        .cover {
          position: absolute;
          width: 67px;
          border-radius: 3px;
          top: 50%;
          transform: translateY(-50%);
          left: 11px;
        }
        .tuijian {
          position: absolute;
          width: 47px;
          right: 0;
          top: 0;
        }
        .name {
          font-size: 14px;
          font-weight: 500;
          color: rgba(0, 0, 0, 1);
          padding-top: 14px;
        }
        .labels {
          line-height: 12px;
          overflow: hidden;
          margin: 10px 0;
          & > div {
            font-size:12px;
            margin-right: 10px;
            color: #666;
            float: left;
            &:last-of-type{
              color: #B8741A;
            }
          }
        }
        .instro {
          width: 200px;
          font-size: 13px;
          color: #333;
        }
        .num {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-size: 12px;
          color: rgba(102, 102, 102, 1);
          right: 11px;
        }
        .right{
          width: 67px;
          height: 31px;
          background: rgba(255, 255, 255, 1);
          border: 1px solid rgba(184, 116, 26, 1);
          border-radius: 15px;
          right: 15px;
          text-align: center;
          font-size: 12px;
          line-height: 12px;
          color: #b8741a;
          padding-top: 1px;
        }
      }
    }
    .line {
      height: 100px;
    }
  }
  .tabContent2 {
    background-color: #f3f3f3;
    padding-top: 12px;
    .list {
      border-radius: 5px;
      background: rgba(255, 255, 255, 1);
      margin: 0 auto;
      width: 345px;
      box-shadow:0px 1px 13px 0px rgba(0, 0, 0, 0.1);
      .item {
        &:last-of-type{
          border:none
        }
        height: 100px;
        position: relative;
        padding-left: 91px;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
        // margin-bottom: 10px;
        .cover {
          position: absolute;
          width: 67px;
          border-radius: 3px;
          top: 50%;
          transform: translateY(-50%);
          left: 11px;
        }
        .tuijian {
          position: absolute;
          width: 47px;
          right: 0;
          top: 0;
        }
        .name {
          font-size: 14px;
          font-weight: 500;
          color: rgba(0, 0, 0, 1);
          padding-top: 30px;
        }
        .labels {
          line-height: 12px;
          overflow: hidden;
          margin: 10px 0;
          & > div {
            font-size:12px;
            margin-right: 10px;
            color: #666;
            float: left;
            &:last-of-type{
              color: #B8741A;
            }
          }
        }
        .instro {
          width: 200px;
          margin-top: 5px;
          font-size: 12px;
          color: #666;
        }
        .num {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-size: 12px;
          color: rgba(102, 102, 102, 1);
          right: 11px;
        }
        .right{
          width: 67px;
          height: 31px;
          background: rgba(255, 255, 255, 1);
          border: 1px solid #ddd;
          border-radius: 15px;
          right: 15px;
          text-align: center;
          font-size: 12px;
          line-height: 12px;
          color: #666;
          padding-top: 1px;
        }
      }
    }
    .line {
      height: 100px;
    }
  }
}
