.container {
  .item {
    border-bottom: 1px solid #ddd;
    &:first-of-type {
      border-top: 1px solid #ddd;
    }
    padding: 15px 13px;
    position: relative;
    font-size: 14px;
    .name {
      span {
        font-size: 12px;
        color: rgba(102, 102, 102, 1);
      }
    }
    .detail {
      width: 280px;
      span {
        width: 30px;
        line-height: 16px;
        background: rgba(255, 220, 218, 1);
        border-radius: 2px;
        font-size: 10px;
        color: rgba(255, 59, 48, 1);
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        transform: scale(0.9);
      }
    }
    .right {
      width: 55px;
      line-height: 27px;
      text-align: center;
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(184, 116, 26, 1);
      border-radius: 13px;
      font-size: 13px;
      color: rgba(184, 116, 26, 1);
      right: 13px;
    }
  }
  .sub {
    width: 290px;
    line-height: 44px;
    background: rgba(231, 203, 155, 1);
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: rgba(61, 40, 0, 1);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
  }
}
