.container {
  .search {
    padding-left: 13px;
    padding-right: 18px;
    margin-top: 14px;
    height: 27px;
    line-height: 27px;
    position: relative;
    .position {
      width: 11px;
      position: absolute;
      top: 55%;
      left: 13px;
      transform: translateY(-50%);
    }
    .city {
      font-size: 14px;
      font-weight: bold;
      color: rgba(0, 0, 0, 1);
      position: absolute;
      top: 50%;
      left: 31px;
      transform: translateY(-50%);
    }
    .sao {
      float: right;
      width: 18px;
      right: 18px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .input {
      width: 240px;
      height: 27px;
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(200, 200, 200, 1);
      border-radius: 3px;
      position: absolute;
      top: 0;
      left: 86px;
      input {
        width: 200px;
        font-size: 12px;
        border: none;
        background: transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
      }
      img {
        position: absolute;
        top: 53%;
        transform: translateY(-50%);
        width: 11px;
        left: 14px;
      }
    }
  }
  .tips {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    img {
      width: 14px;
      margin-top: 4px;
      margin-right: 6px;
    }
    span {
      font-size: 12px;
      color: #666;
    }
  }
  .banner {
    img {
      width: 100%;
    }
  }
  .cates {
    width: 345px;
    height: 181px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0 auto;
    padding-left: 10px;
    position: relative;
    margin-top: 8px;
    margin-bottom: 16px;
    .dots {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
      .dot {
        float: left;
        width: 12px;
        height: 2px;
        background: rgba(204, 204, 204, 1);
      }
      .active {
        background: rgba(255, 59, 48, 1);
      }
    }
    .item {
      width: 60px;
      height: 55px;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      position: relative;
      margin-top: 10px;
      margin-bottom: 15px;
      .img {
        width: 35px;
        height: 35px;
        border-radius: 50%;

        margin: 0 auto;
        position: relative;
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 55%;
        }
      }
      .bg0 {
        background: linear-gradient(-45deg, rgba(159, 207, 33, 1), rgba(104, 177, 10, 1));
      }
      .bg1 {
        background: linear-gradient(-45deg, rgba(255, 168, 45, 1), rgba(255, 88, 40, 1));
      }
      .bg2 {
        background: linear-gradient(-45deg, rgba(136, 203, 244, 1), rgba(22, 172, 227, 1));
      }
      .bg3 {
        background: linear-gradient(-45deg, rgba(254, 193, 65, 1), rgba(249, 150, 12, 1));
      }
      .bg4 {
        background: linear-gradient(-45deg, rgba(254, 74, 83, 1), rgba(245, 37, 25, 1));
      }
      .bg5 {
        background: linear-gradient(-45deg, rgba(111, 239, 132, 1), rgba(11, 176, 117, 1));
      }
      .bg6 {
        background: linear-gradient(-45deg, rgba(255, 162, 109, 1), rgba(251, 35, 30, 1));
      }
      .bg7 {
        background: linear-gradient(-45deg, rgba(255, 131, 170, 1), rgba(167, 91, 225, 1));
      }
      .name {
        font-size: 13px;
        text-align: center;
        padding-top: 3px;
      }
    }
  }
  .report {
    width: 347px;
    line-height: 44px;
    background: rgba(255, 235, 233, 1);
    border-radius: 5px;
    margin: 0 auto;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    span {
      &:first-of-type {
        font-weight: bold;
        font-size: 14px;
      }
      &:nth-of-type(2) {
        display: inline-block;
        margin-left: 8px;
        margin-right: 8px;
        line-height: 12px;
        transform: translateY(-1px);
        color: #a1a1a1;
      }
      &:nth-of-type(3) {
        position: absolute;
        width: 170px;
        height: 100%;
      }
      &:last-of-type {
        float: right;
      }
    }
  }
  .nav {
    display: flex;
    justify-content: space-around;

    font-weight: 500;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    .item {
      font-size: 14px;
      & > div {
        font-size: 10px;
        color: rgba(102, 102, 102, 1);
      }
    }
    .active {
      font-size: 14px;
      font-weight: bold;
      color: rgba(184, 116, 26, 1);
      & > div {
        font-size: 10px;
        background: rgba(184, 116, 26, 1);
        border-radius: 10px;
        color: #fff;
        padding: 2px 3px;
      }
    }
  }
  .list {
    .item {
      width: 345px;
      height: 100px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      margin: 0 auto;
      position: relative;
      padding-left: 91px;
      box-sizing: border-box;
      margin-bottom: 10px;
      .cover {
        position: absolute;
        width: 67px;
        border-radius: 3px;
        top: 50%;
        transform: translateY(-50%);
        left: 11px;
      }
      .tuijian {
        position: absolute;
        width: 47px;
        right: 0;
        top: 0;
      }
      .name {
        font-size: 14px;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        padding-top: 14px;
      }
      .labels {
        overflow: hidden;
        line-height: 12px;
        margin-top: 5px;
        & > div {
          background: rgba(255, 255, 255, 1);
          border: 1px solid rgba(184, 116, 26, 1);
          border-radius: 4px;
          float: left;
          padding: 3px 6px;
          font-size: 10px;
          color: #b8741a;
          margin-right: 3px;
        }
      }
      .instro {
        margin-top: 10px;
        width: 200px;
        font-size: 13px;
        color: rgba(255, 59, 48, 1);
      }
      .num {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 12px;
        color: rgba(102, 102, 102, 1);
        right: 11px;
      }
    }
  }
}
